<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SappPasRoot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SappPasRoot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SappPasRoot.Properties.Settings>
            <setting name="PlatformXML" serializeAs="String">
                <value>Data/Platforms.xml</value>
            </setting>
        </SappPasRoot.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SappPasRoot.Properties.Settings>
            <setting name="LastKPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppFolder" serializeAs="String">
                <value>Games</value>
            </setting>
            <setting name="MusicFolder" serializeAs="String">
                <value>Musics</value>
            </setting>
            <setting name="ManualFolder" serializeAs="String">
                <value>Manuals</value>
            </setting>
            <setting name="ImagesFolder" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="VideoFolder" serializeAs="String">
                <value>Videos</value>
            </setting>
            <setting name="CheatCodesFolder" serializeAs="String">
                <value>CheatCodes</value>
            </setting>
            <setting name="ScanHiddenGames" serializeAs="String">
                <value>False</value>
            </setting>
        </SappPasRoot.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
